  <div class="col-md-3 col-md-offset-3">
  </div>
  <div class="col-md-9 col-md-offset-9">
  	<ul>
  		<li>Issued Date: <%= @smart_contract.issued_date %></li>
  		<li>Expiry Date: <%= @smart_contract.expiry_date %></li>
  		<li>Accepted Diagnosis Code:  <%= @smart_contract.eligible_for_diagnosis_code %></li>
  	</ul>
  </div>
